#about_blue {
background-color: #6495ED;
border: solid thin black
}
#about_blue_list {
  color: blue;
}
#about_yellow {
  background-color: #FFEBCD;
  border: solid thin black
}
#about_yellow_list {
  color: orange;
}
ul.nav li {
background-color: red;
}
.nav {
  color: white;
}
